.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
    transition: ease-in-out .3s;
    display: flex;
    /* padding: 2rem 8rem; */
    background: transparent;
}


.navbar-toggler {
    position: absolute;
    right: var(--size-20);
    top: var(--size-10);
    outline: none;
    background-color: transparent;
    border: 1px solid transparent;
}

.navbar-toggler span {
    color: #666;
    font-size: var(--size-20);
    cursor: pointer;
    pointer-events: none;
}

[aria-controls="navbarDropdown"] {
    display: none;
}

.navbar-nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.btn.nav {
    color: var(--white);
    width: 4.375rem;
    font-size: var(--size-12);
}


.brand-logo {
    height: var(--size-50);
}

.navbar-brand {
    margin-right: auto;
    font-size: 2rem;
    font-weight: 700;
    width: max-content;
    transition: ease-in-out .3s;
    color: rgba(66 133 244);
    text-decoration: none;
}

.nav-link a {
    color: #BABCBE;
    font-size: var(--size-14);
    margin-right: var(--size-20);
    line-height: var(--size-20);
    text-decoration: none;
}

.empowering-wrapper {
    padding-top: 5rem;
    background-image: linear-gradient(to bottom right, rgb(245, 244, 248) 75%, rgb(228, 227, 251) 25%);
    height: 34.375rem;
}

.empowering-div-wrapper { padding-left: 15px; }

.empowering-div.header {
    margin-bottom: var(--size-30);
}

.empowering-div-wrapper h1 {
    font-weight: 100;
    font-size: 2.8125rem;
    margin-bottom: var(--size-14);
}

.empowering-div-wrapper p {
    margin: 0;
    color: #818284;
}

.container.empowering {
    display: flex;
    justify-content: space-between;
}

.empowering-logos-wrapper {
    width: 31.25rem;
}

.empowering-logos-wrapper img {
    position: relative;
    height: var(--size-30);
    width: 50%;
    padding: var(--size-20);
}

.empowering-logos-wrapper div { cursor: pointer; }

.empowering-logo-div {
    display: flex;
    justify-items: center;
    width: max-content;
    border-radius: var(--size-50);
    box-shadow: 0px 0px 12px rgb(169, 169, 169);
    background-color: var(--white);
}

.empowering-div-video {
    display: flex;
    align-items: center;
    gap: var(--size-20);
}

.empowering-logo-div>.google-logo {
    width: 2.1875rem;
    height: 2.1875rem;
    padding: .5rem;
}

.empowering-logo-div.google {
    position: relative;
    right: -7.8125rem;
}

.empowering-logo-div>.atlassian-logo {
    width: var(--size-50);
    height: var(--size-50);
    padding: var(--size-12);
}

.empowering-logo-div.atlassian {
    position: relative;
    right: -14.0625rem;
    top: -3.125rem;
}

.empowering-logo-div>.asana-logo {
    width: var(--size-50);
    height: var(--size-50);
    padding: var(--size-12);
}

.empowering-logo-div.asana {
    position: relative;
    top: -7.1875rem;
    right: -25rem;
}

.empowering-logo-div>.paypal-logo {
    width: var(--size-50);
    height: var(--size-50);
    padding: var(--size-12);
}

.empowering-logo-div.paypal {
    position: relative;
    right: -6.25rem;
}

.empowering-logo-div>.weave-logo {
    width: var(--size-50);
    height: var(--size-50);
    padding: var(--size-12);
}

.empowering-logo-div.weave {
    position: relative;
    top: -4.0625rem;
    right: -19.375rem;
}

.empowering-logo-div>.googleA-logo {
    width: var(--size-40);
    height: var(--size-40);
    padding: .5rem;
}

.empowering-logo-div.googleA {
    position: relative;
    right: -13.125rem;
}

.empowering-logo-div>.calendar-logo {
    width: var(--size-50);
    height: var(--size-50);
    padding: var(--size-12);
}

.empowering-logo-div.calendar {
    position: relative;
    right: -25rem;
}

.benefits-section {
    padding-top: 9.375rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}

.benefits {
    text-align: center;
}

.benefits p {
    color: gray;
}

.benefits h2 {
    font-weight: 600;
    margin: auto;
}

.benefits-wrapper {
    display: flex;
    gap: var(--size-20);
    justify-content: center;
    margin-top: var(--size-50);
}

.benefits-div {
    box-shadow: 0px var(--size-12) var(--size-12) lightgray;
    width: 12.5rem;
    height: 15.625rem;
    padding-bottom: var(--size-20);
}

.benefits-list {
    display: flex;
    flex-direction: column;
    padding: var(--size-10);
    margin: var(--size-10);
}

.benefits-list>li>h4 {
    font-size: var(--size-14);
    margin: 1rem 0;
}

.benefits-img {
    width: var(--size-40);
    height: 2.1875rem;
}

.benefits-list>li>p {
    color: gray;
    line-height: 1.5;
    margin-top: -0.625rem;
    font-size: var(--size-14);
}

.benefits-list a {
    color: var(--font-color-blue);
    font-size: var(--size-14);
}

.premium {
    display: flex;
    align-items: center;
    width: var(--size-30);
}

.container.prospective {
    background-color: rgb(244, 244, 251);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 31.25rem;
}

.prospective-wrapper {
    display: flex;
    align-items: center;
}

.prospective {
    margin-bottom: 9.375rem;
    margin-left: var(--size-50);
}

.prospective h1 {
    font-weight: lighter;
}

.banner-one {
    width: 31.25rem;
    margin-bottom: -.3125rem;
}

.why-front-section {
    text-align: center;
    margin-top: 8rem;
}

.why-front-section p {
    color: #818284;
    font-weight: lighter;
}

.elements-wrapper {
    width: max-content;
    height: 12.5rem;
    margin: auto;
    display: flex;
    gap: var(--size-50);
}

.elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--size-14);
}

.elements h4 { 
    font-weight: 400;
 }

.circle {
    width: 31.25rem;
    height: var(--size-30);
    position: relative;
    background-color: #F0F8FF;
}

.circle.basic::after {
    content: "";
    position: absolute;
    height: 1px;
    background: #e4eef7;
    width: 5.625rem;
    margin-left: .25rem;
    left: var(--size-40);
}

.circle.components::after {
    content: "";
    position: absolute;
    height: 0.0625rem;
    background: #e4eef7;
    width: 7.1875rem;
    margin-left: .25rem;
    left: var(--size-40);
}

.circle.combined::after {
    content: "";
    position: absolute;
    height: 0.0625rem;
    background: #e4eef7;
    width: 7.5rem;
    margin-left: .25rem;
    left: var(--size-40);
}

.circle {
    border-radius: var(--size-50);
    height: var(--size-40);
    width: var(--size-40);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-circle {
    height: .3125rem;
    width: .3125rem;
}

.circle-last {
    border-radius: var(--size-50);
    height: var(--size-40);
    width: var(--size-40);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F8FF;
}

.banner-two-wrapper {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}

.banner-two {
    width: 64rem;
    position: absolute;
}

.banner-btn {
    width: 3.75rem;
    height: 3.75rem;
    position: relative;
    border-radius: var(--size-50);
    margin-top: 12rem;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 12px rgb(169, 169, 169);
    cursor: pointer;
}

.banner-play-logo {
    width: var(--size-18);
    height: var(--size-18);
    margin: auto;
}

.hubspot-wrapper {
    margin: auto;
    width: 64rem;
    margin-top: 16rem;
    display: flex;
}

.woman-three {
    width: 18.75rem;
    height: 21.857rem;
    position: absolute;
    padding-top: .3125rem;
    padding-left: 5.5rem;
    z-index: 100;
}

.dots {
    width: 15.625rem;
    height: 18.75rem;
    position: relative;
    padding-top: var(--size-100);
}

.hubspot-div {
    text-align: center;
    margin-left: 12.5rem;
    width: 31.25rem;
    margin-top: var(--size-100);
    text-align: left;
}

.hubspot-div h4 { margin: 3.125rem 0rem -.3125rem 0rem; }

.executive {
    font-size: var(--size-12);
    color: rgb(169, 169, 169);
}

.hubspot-logo {
    width: 4.6875rem;
    height: 1.5625rem;
}

.company-wrapper {
    text-align: center;
    width: 64rem;
    margin: 10rem auto;
    
}

.company-wrapper h3 {
    color: gray;
}

.company-logos {
    display: flex;
    justify-content: space-evenly;
}

.company-logos img {
    width: var(--size-100);
    height: var(--size-50);
}

.pricing-text { text-align: center; }
.pricing-text p { color: gray; }

.pricing-wrapper { 
    width: 64rem;
    margin: auto;
 }

.price-cards {
    display: grid;
    grid-template-columns: 3, 1fr;
    grid-template-rows: 2, 1fr ;
}

.price-cards-wrapper {
    display: flex;
    justify-content: center;
    gap: var(--size-50);
}


.pricing-wrapper h3 { font-size: 14px; }

.pricing-wrapper p { 
    font-size: var(--size-12);
    color: gray;
}

.price { 
    display: flex;
    align-items: end;
 } 

.price-card-1 {
    width: 14.375rem;
    padding: var(--size-50) var(--size-20);
    box-shadow: 0rem var(--size-12) var(--size-12) lightgray;
}

.price-card-1 a { margin-top: var(--size-50); }

.price-card-1 p { 
    color: gray;
    font-size: var(--size-14);
}

.price-number { font-size: var(--size-40); }

.month { color: gray; }

.price-card-2 {
    grid-column-start: 2;
    grid-row-end: 2;
    width: 12.5rem;
    padding: var(--size-20);
}

.price-card-3 {
    grid-column-start: 3;
    grid-column-end: 3;
    width: 12.5rem;
    padding: var(--size-20);
}

.price-card-4 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    width: 12.5rem;
    padding: var(--size-20);
}

.cancel { 
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.cancel h3 {
    margin: auto;
}

.sketch.cancel {
    width: 3.75rem;
    font-size: var(--size-10);
}

.price-card-5 { 
    grid-row-start: 2;  
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
    width: 12.5rem;
    padding: var(--size-20);
}

.hire-us-wrapper {
    display: flex;
    justify-content: center;
    width: 64rem;
    height: 37.5rem;
    margin: 5rem auto;
}

.hire-us-container {
    padding: var(--size-50);
    margin: var(--size-20);
    padding-top: var(--size-100);
}

.hire-us-div h4 { margin-top: var(--size-50);}

.love-front { font-size: var(--size-14);}

.goal { 
    color: gray;
    font-size: var(--size-14);
}

.commercial {
    color: gray;
    font-size: var(--size-12);
    margin-top: -.9375rem;
}

.hr { color: white; }

.hire-us-img { 
    width: 10.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    gap: var(--size-20);
}

.hire-img-icons img {
    margin-right: var(--size-10);
}

.hire-us-img img { border-radius: var(--size-50); }

.woman {
    width: var(--size-30);
    height: var(--size-30);
}

.man {
    width: var(--size-50);
    height: var(--size-50);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: var(--size-10);
    margin: var(--size-20);
    padding: var(--size-20);
    background-color: white;
    color: black;
    width: 25rem;
    width: min-content;
}

.form-divs {
    margin: 0 0 var(--size-30) 0;
}

.form-wrapper p { font-size: var(--size-14);}

.form-wrapper input,
.form-wrapper select,
.form-wrapper textarea {
    border: .03125rem solid lightgray;
    border-radius: .3125rem;
}

.form-wrapper input,
.form-wrapper select { 
    height: var(--size-30);
    width: 9.0625rem;
}

.form-wrapper textarea {
    font-family: 'Hinds', sans-serif;
    font-size: var(--size-12);
}

input[type=checkbox] {
    height: var(--size-30);
    width: var(--size-30);
    border: .03125rem solid lightgray;
    border-radius: .3125rem;
}

.checkbox-div {
    display: flex;
    align-items: center;
}

.policy a,
.checkbox-div p {
    font-size: var(--size-10);
    color: gray;
}


.policy a:hover { color: var(--font-color-blue)}

.btn.nav.policy {
    margin: var(--size-10) auto;
    font-size: .5rem;
    padding: var(--size-12);
    cursor: pointer;
}

footer a,
footer li,
footer p {
    font-size: .6875rem;
    color: gray;
    margin-top: .3125rem;
}

footer h3 { font-size: var(--size-14); }

.footer-top-wrapper { display: flex; }

.footer-bottom-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-bottom-container { 
    display: flex;
    justify-content: center;
    gap: 28.125rem;
    margin: 0rem var(--size-30);
}

.footer-top-wrapper ul {
    margin: auto;
    height: 12.5rem;
    width: max-content;
    line-height: .9375rem;
}

.contact { padding-top: var(--size-18); }

.resource-icons {
    display: flex;
    align-items: baseline;
    gap: .3125rem;
    height: var(--size-18);
}

.terms-container {
    display: flex;
    gap: .3125rem;
}

.footer-socials {
    display: flex;
    gap: var(--size-10);
    margin: auto;
}

.footer-socials a {
    background-color: rgb(230, 225, 225);
    width: 1.5625rem;
    height: 1.5625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-socials a:hover { background-color: gray; }

.footer-select-btn {
    display: flex;
    align-items: center;
}

#country {
    background: rgb(230, 225, 225);
    border: none;
    padding: .25rem;
    border-radius: .3125rem;
}

.socials {
    width: var(--size-10);
    height: var(--size-10);
}

.disclaimer-container { text-align: center; }

.copyright {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: .3125rem;
}

.disclaimer-p {
    width: 31.25rem;
    margin: auto;
}


.footer-logo { width: 4.6875rem; }
.location-div img { width: var(--size-10); }
.address { display: flex; }

.location-div { display: flex; }

.footer-img { 
    width: var(--size-10);
    gap: .3125rem;
}

.career {
    display: flex;
    align-items: baseline;
    gap: var(--size-10);
    height: var(--size-20);
}

.career div {
    color: white;
    font-size: .4375rem;
    padding: 0rem .3125rem;
    background: var(--font-color-blue);
    border-radius: .1875rem;
}

footer span {
    font-size: .6875rem;
    display: contents;
    color: gray;
}

